/*
 * Fade
 */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/*
 * SlideY
 */

.slideY-move,
.slideY-enter-active,
.slideY-leave-active {
  transition: all 500ms ease;
}

.slideY-enter-from,
.slideY-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

.slideY-leave-active {
  position: absolute;
  width: 100%;
}
